/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

#main-title {
  font-style: italic;
  text-align: center;
}

body{
    padding: 30px;
    background-color: rgb(97, 89, 89);
}

.section {
  padding: 10px;
  border-style: dashed;
  border-width: 25px;
  margin-bottom: 20px;
}

#pslo {
    background-color: #7A0019;
    border-color:rgb(97, 89, 89);
    color: white;
    margin-right: 15px;
}

#courses {
  background-color: #ffcc13;
  border-color: rgb(97, 89, 89);
  margin-left: 15px;
}

#faculty {
  background-color: black;
  border-color: rgb(97, 89, 89);
  color: white;
  text-align: center;
}

#faculty-list {
  list-style: none;
}

#faculty-list ul{
  align-content: center;
}

#faculty-list li{
  padding: 6%;
}

#tools {
  background-color: #ffcc13;
  border-color: rgb(97, 89, 89);

}

#validation {
  background-color: #7A0019;
  border-style: dashed;
  border-color:rgb(97, 89, 89);
  border-width: 25px;
  padding: 20px;
}

h6{
  font-family: 'EB Garamond', serif;
  font-size: 1.75em;
}

#style ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

#style li{
  background-color: black;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

#style a:link, a:visited{
  position: relative;
  top: 5px;
  color: rgb(97, 89, 89);
  text-decoration: none;
}



@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  #faculty-list{
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  #faculty-list li{
    padding-top: 0%;
    padding-bottom: 25px;
  }
  #tools{
    width: 30%;
  }
  #validation {
    float: right;
    position: relative;
    bottom: 325px;
    width: 61%;
  }
  #style {
    position: absolute;
    top: 5px;
    left: 15px;
  }
}

